.favorites-container {
    text-align: center;
    background: url(../../images/about-page.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-size: cover;
    height: 100vh;

    .return-home {
        margin: 20px 20px;
        font-size: 2rem;
        text-decoration: none;
        color: #30C3FA;
        &:hover {
            color: black;
            cursor: pointer;
        }
    }
    .favorites-main {
        display: flex;
        flex-wrap: wrap;
        margin: 50px;
    }
    
    .favorites {
        color: #30C3FA;
    }
    
    p {
        color: black;
    }

}

