@import "../../Scss/variables.scss";

.favorites-container {
  text-align: center;
  background: url(../../images/about-page.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  
  .go-home-mobile {
    display: none;
  }

  .return-home {
    margin: 20px 20px;
    font-size: 2rem;
    text-decoration: none;
    color: black;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    &:hover {
      color: $primary-light-blue;
      cursor: pointer;
    }
  }
  .favorites-main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 50px;
  }

  .favorites-header {
    color: $primary-light-blue;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }

  p {
    color: black;
  }
}

@media (max-width: 850px) {
  .favorites-container {
    
    .return-home {
      display: none;
    }
    .favorites-header {
      font-size: 2.5rem;
      margin: 0 auto;
      padding-top: 20px;
    }


    .go-home-mobile {
      display: block;
      float: left;
      background: transparent;
      border: none;
      cursor: pointer;
      padding: 50px 0 0 50px;
      font-size: 40px;
      
      
      .fa-arrow-circle-left {
        color: black;
        &:hover {
          color: $primary-light-blue;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .favorites-container {
    
    .favorites-header {
      font-size: 2rem;
      margin: 0 auto;
    }

    .go-home-mobile {
      display: block;
      padding-left: 20px;
      font-size: 30px;
    }
  }
}