.leaflet-container {
    height: 500px;
    width: 600px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    border: 1px solid #30C3FA;
  }

.go-home {
  font-size: 50px;
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 30px;
  left: 10px;

  .fa-arrow-circle-left {
    color: white;
    &:hover {
      color: black;
    }
  }
}

.map-container {
  display: inline-block;

  .map-header {
    height: 70px;
    width: 602px;
    background-color:#30C3FA;
    margin-top: 200px;
    display: flex;
    justify-content: flex-start;

    h2 {
      text-align: left;
      font-size: 2.5rem;
      margin: 10px auto;
      color: white;
    }

    .fa-bicycle {
      color: white;
      margin: 0 0 0 200px;
      padding: 20px;
      font-size: 2rem;
      &:hover {
        color: black;
        cursor: pointer;
      }
    }

    
  }
  
  .pop-up {
    font-size: 1.5rem;
    margin: 0 auto;
    padding: 0 auto;

    h6 {
      margin: 0 auto;
      padding: 0 auto;
      color: #30C3FA;
      font-size: 1.5rem;
    }

    .info {
      font-size: 1rem;
      margin: 0 auto;
    }

    .website {
      color: black; 
      &:hover {
        color: #30C3FA;
      }
    }
  }
}
