.leaflet-container {
  height: 500px;
  width: 600px;
  display: flex;
  justify-content: center;
  border: 1px solid #30c3fa;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  margin-bottom: 50px;
  
}

.go-home {
  font-size: 50px;
  background: transparent;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 30px;
  left: 10px;

  .fa-arrow-circle-left {
    color: white;
    &:hover {
      color: black;
    }
  }
}

.map-container {
  display: inline-block;
  

  .map-header {
    height: 70px;
    width: 602px;
    background-color: #30c3fa;
    margin-top: 100px;
    display: flex;
    justify-content: flex-start;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

    h2 {
      text-align: left;
      font-size: 2.5rem;
      margin: 10px auto;
      color: white;
    }

    .fa-star {
      color: white;
      margin: 0 0 0 200px;
      padding: 20px;
      font-size: 2rem;
      &:hover {
        color: gold;
        cursor: pointer;
      }
    }

    .favorite {
      color: gold;
    }
  }

  .pop-up {
    font-size: 1.5rem;
    margin: 0 auto;
    padding: 0 auto;

    h6 {
      margin: 0 auto;
      padding: 0 auto;
      color: #30c3fa;
      font-size: 1.5rem;
    }

    .info {
      font-size: 1rem;
      margin: 0 auto;
    }

    .website {
      color: black;
      &:hover {
        color: #30c3fa;
      }
    }
  }
}
