@import "../../Scss/variables.scss";

.about {
  text-align: center;
  background: url(../../images/about-page.jpeg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;

  .go-home {
    display: none;
  }

  .about-header,
  .return-home {
    color: $primary-light-blue;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
  }

  .return-home {
    margin: 20px 20px;
    font-size: 2rem;
    text-decoration: none;
    color: black;
    &:hover {
      color: $primary-light-blue;
      cursor: pointer;
    }
  }

  .about-main {
    margin-top: 100px;
  }

  p {
    font-size: 2rem;
    width: 70%;
  }

  a {
    text-decoration: none;
    color: $primary-light-blue;
    &:hover {
      color: white;
    }
  }
}

@media (max-width: 850px) {
  .about {
    
    .about-header {
      font-size: 2.5rem;
      margin: 0 auto;
      padding: 20px;
    }
    .about-main {
      margin-top: 25px;
    }
  
    p {
      font-size: 1.5rem;
    }

    .return-home {
      display: none;
    }

    .go-home {
      display: block;
      background: transparent;
      border: none;
      cursor: pointer;
      
      .fa-arrow-circle-left {
        color: black;
        &:hover {
          color: $primary-light-blue;
        }
      }
    }
  }
}

@media (max-width: 400px) {
  .about {

    .about-header {
      font-size: 1.5rem;
    }
    p {
      font-size: 1rem;
    }

    .go-home {
      font-size: 30px;
    }
  }

}
