.about {
    text-align: center;
    background: url(../../images/about-page.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-size: cover;
    height: 100vh;

    .about-header {
        color: #30C3FA;
    }

    .return-home {
        margin: 20px 20px;
        font-size: 2rem;
        text-decoration: none;
        color: #30C3FA;
        &:hover {
            color: black;
            cursor: pointer;
        }
    }

    main {
        margin-top: 100px;
    }

    p {
        font-size: 2rem;
    }  
    
    a {
        text-decoration: none;
        color: #30C3FA;
        &:hover {
        color: white;
        }
    } 
}









