.favorite-bike-path {
  height: 300px;
  width: 300px;
  color: white;
  background: #30c3fa;
  border-radius: 20px;
  text-align: left;
  margin: 20px;

  h4 {
    text-align: center;
    padding-top: 10px;
    margin: 0;
    font-size: 2rem;
  }
  .favorite-info {
    margin: 5px;
    padding: 2px;
    font-size: 1.5rem;
  }
}
