.home {
    text-align: center;
    background: url(../../images/home-page.jpeg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover; 
    background-size: cover;
    height: 100vh;
}

header {
    display: flex;
    justify-content: space-between;
    color: white;
    
      h1 {
        padding-left: 50px;
        font-size: 4rem;
        margin: 10px;
      }
  
      nav {
        display: flex;
        justify-content: space-around;
      }
  
      .favorite-link,
      .about-link {
        margin: 20px 20px;
        font-size: 2rem;
        text-decoration: none;
        color: white;
        &:hover {
          color: #30C3FA;
          cursor: pointer;
        }
      }
  }

h3 {
  padding-top: 300px;
  color: black;
}