.search-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #30C3FA;
    height: 40px;
    border-radius: 40px;
    padding: 10px;
    &:hover > .search-text {
        width: 240px;
        padding: 0 6px;
    }
    &:hover > .search-btn {
       background: #4E6067;
    }

    .search-btn {
        color: #30C3FA;
        color: white;
        float: right;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #4E6067;
        background: #30C3FA;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.4s;
    }

    .search-text {
        border: none;
        background: none;
        outline: none;
        float: left;
        padding: 0;
        color: white;
        font-size: 16px;
        transition: 0.4s;
        line-height: 40px;
        width: 0;
    }
    
}



